{% extends 'base.html.twig' %}


{% block content %}

<div class="container">
<div class="row justify-content-center">
<div class="col-7" id="login-form-container">

  <h2>Login</h2>
  {% if error %}
      <div class="alert alert-danger" id="login-form-error">
        <strong>
         {{ error.messageKey }}
        </strong>
      </div>
  {% endif %}
  <form class="form-horizontal" action="{{ path('login') }}" method="post">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="username">Username:</label>
      <div class="col-8">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="password">Password:</label>
      <div class="col-8">
        <input type="password" class="form-control" id="password" name="_password" />
      </div>
    </div>
      {#
          If you want to control the URL the user
          is redirected to on success (more details below)
          <input type="hidden" name="_target_path" value="/account" />
      #}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-secondary">Sign in</button>
      </div>
    </div>
  </form>

</div>
</div>
</div>
{% endblock %}
