###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local

/config/services.yaml
/config/packages/security.yaml
/config/packages/hslavich_onelogin_saml.yaml
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
#
#### ignore institution specific stuff ###
/public/css/institution/
/public/img/institution/
/templates/institution/
