{# Use this template for your institution's footer content #}
<p>© 1996-2018 Health Sciences Library System, University of Pittsburgh. All rights reserved.</p>
<a href="//www.hsls.pitt.edu"><img src="{{ asset('/img/institution/pitt-hsls-logo-white.png') }}" class="hsls-logo" alt="Health Services Library System"></a><br/>
