{% extends 'base.html.twig' %}

{% block page_scripts %}
{% endblock %}

{% block results_JSONLD_output %}
{% endblock %}

{% block content %}
<div class="col-sm-11" id="homepage-container">
<h1>Hello, world!</h1k
</div>
{% endblock %}
