<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="add_entity_modal_title">Success!</h4>
</div>
<div class="modal-body">
 <span class="modal-success glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
 <div class="spacer25"></div>
Successfully added new <span id="entity-display-name" data-displayname="{{displayName|lower}}">{{ displayName }}</span>: <span id="added-entity-name">{{ addedEntityName }}</span>!
<br/>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
</div>
