{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_4_horizontal_layout.html.twig',
_self] %}

{% block page_title %}
 <title>Contact Form Submitted</title>
{% endblock %}


{% block form_group_class -%}
col-sm-7
{%- endblock form_group_class %}

{% block form_label_class -%}
col-sm-5
{%- endblock form_label_class %}


{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="col-sm-6 col-sm-offset-2" >
<div class="page-header">
<h1>Contact Us</h1>
</div>
<div class="alert alert-success col-xs-12" role="alert">
  <p>Your email was sent successfully! <a href="/" class="alert-link">Return home</a>.
</div>
{{ form(form) }}

</div>

{% endblock %}

