{% form_theme form with ['bootstrap_4_layout.html.twig'] %}

<div class="modal-header">
  <h4 class="modal-title" id="add_entity_modal_title">Add New {{ displayName }}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

{{ form(form, {'attr':{'data-targetentity':entityName}}) }}
<div class="text-center">
  <div id="loading-indicator" class="spinner-grow" style="display:none; width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<br/>
</div>

<div class="modal-footer">
</div>

<script>


</script>
