<div class="modal-header">
  <h4 class="modal-title" id="add_entity_modal_title">Success!</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <i class="modal-success icon-ok-circle" aria-hidden="true"></i>
 <div class="spacer25"></div>
Successfully added new <span id="entity-display-name" data-displayname="{{displayName|lower}}" data-id="{{addedId}}">{{ displayName }}</span>: <span id="added-entity-name">{{ addedEntityName }}</span>!
<br/>
</div>

<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
</div>
