{% extends 'base.html.twig' %}

{% block page_title %}
<title>About the Data Catalog</title>
{% endblock %}

{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="col-sm-5 col-sm-offset-2" >
<div class="page-header">
<h1>How To Use the Data Catalog</h1>
</div>
<p style="font:16px Courier, monospace">
Content for this page can be customized by copying the template file <strong>"how_to_use_catalog.html.twig"</strong> into <strong>"institution/how_to_use_catalog.html.twig"</strong> and editing as needed
</p>


</div>

{% endblock %}
