{% extends 'base.html.twig' %}

{% block page_scripts %}
{% endblock %}

{% block results_JSONLD_output %}
{% endblock %}

{% block content %}
<div class="" id="homepage-container">
<h2>Welcome to the Data Catalog!</h2>
<ul>
  <li>Find data created by your institution's researchers, and local experts to help with externally available datasets</li>
  <li>Share your own data to increase its discoverability and help meet data sharing requirements</li>
  <li>Using our detailed metadata, identify datasets of interest and understand them in the broader research context</li>
</ul>

</div>
{% endblock %}
