{# This assumes your logo has been uploaded to: <symfony_home>/web/img/logo.jpg #}
{# Remember to enter a URL if you want the logo to link anywhere #}
<span class="logo-container">
  <a href="{{ path('homepage') }}"><img id="header-logo" src="{{ asset('img/logo.jpg') }}" border="0"></a>
</span>
