<div id="interior-page-search-container">
  <div class="interior-page-sitename-container">
    <h3 class="interior-page-sitename">
      <a class="sitename-link" href="{{ path('homepage') }}">{{ site_name }}</a>
    </h3>
  </div>
  <div id="interior-page-search-form-container">
    <form id="keyword-search-form" class="input-group">
      <label for="keyword-search-input">search terms</label>
      <input type="text" class="form-control" id="keyword-search-input">
        <span class="input-group-btn">
          <button id="keyword-search-submit" class="btn btn-default search-button" type="submit">Search</button>
        </span>
      </input>
    </form>
  </div>
</div>
