{% extends 'base.html.twig' %}

{% block page_title %}
<title>About the Data Catalog</title>
{% endblock %}

{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="col-sm-5 col-sm-offset-2" >
<div class="page-header">
<h1>Home!</h1>



</div>

{% endblock %}


