{% extends 'base.html.twig' %}

{% block page_title %}
<title>Home | Pitt Data Catalog</title>
{% endblock %}

{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-2" >
		<div class="page-header">
			<p>Welcome to the Pitt Data Catalog, a tool to help researchers identify and locate datasets created by University of Pittsburgh faculty and staff.</p>
			<p>The Pitt Data Catalog is intended to increase the reproducibility of Pitt research and encourage collaboration among researchers by collecting and presenting metadata about Pitt-produced datasets, including instructions for access and use. The catalog is currently focused on data from health sciences researchers. To learn more, visit our about page and help documentation.</p>
			<p>To discover datasets, use the search field above or click "Browse" to view all entries.</p>
			<p>To add information about your dataset to the Pitt Data Catalog, use the "Include your dataset" button above or contact us. We'll set up a consultation to begin describing your data.</p>
			<p>The University of Pittsburgh Health Sciences Library System (HSLS) is committed to supporting high-quality research for faculty, students and staff in the schools of the health sciences. The Pitt Data Catalog is a dataset discovery tool developed by HSLS in part with Federal funds from the National Library of Medicine, a division of the National Institutes of Health, Department of Health and Human Services.</p>
			<p>Questions? Feedback? Found an error? Want to be involved? <a href="{{ path('contact') }}">Contact us</a>.</p>

		</div>
	</div>
</div>

{% endblock %}


