{% extends 'base.html.twig' %}

{% block page_title %}
<title>Home | Pitt Data Catalog</title>
{% endblock %}

{% block page_stylesheets %}
{% endblock %}


{% block page_scripts %}
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-sm-10 col-sm-offset-2" >
		<div class="page-header">
			<a href="http://www.hsls.pitt.edu/"><img src="{{ asset('/img/institution/pitt-hsls-logo.svg') }}" class="pitt-home-hsls-logo" alt="Health Sciences Library System"></a>
			<p>Welcome to the Pitt Data Catalog, a tool to help researchers identify and locate datasets created by University of Pittsburgh faculty and staff.</p>
			<p>The Pitt Data Catalog is intended to increase the reproducibility of Pitt research and encourage collaboration among researchers by collecting and presenting metadata about Pitt-produced datasets, including instructions for access and use. The catalog is currently focused on data from health sciences researchers. To learn more, visit out about page and help documentation.</p>
			<p>To discover datasets, use the search field above or click "Browse" to view all entries.</p>
			<p>To add information about your dataset to the Pitt Data Catalog, use the "Submit your dataset" button above or contact us. We'll set up a consultation to begin describing your data.</p>
			<p>The University of Pittsburgh Health Sciences Library System is committed to supporting high-quality research and instruction for Pitt faculty, students, and staff. The Data Catalog is a project of the Health Sciences Library System (HSLS), with support from X and Y.</p>
			<p>Questions? Feedback? Found an error? Want to be involved? <a href="{{ path('contact') }}">Contact us</a>.</p>

		</div>
	</div>
</div>

{% endblock %}


