{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="spacer50"></div>
    <div class="spacer50"></div>
    <h1>Unauthorized</h1>

    <p>{{ include(template_from_string(unauthorized_error_message|raw)) }}</p>

  </div>
</div>
{% endblock %}
